{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/analogies.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'home/js/analogies.js' %}"></script>
{% endblock %}

{% block content %}
<section class="patterns bg-blue">
    <div class="my-container">
        {% for analogy in analogies %}
        <div class="grid-2">
            <div class="question">
                <h1>
                    {{ analogy.content }}
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    {{ analogy.answer }}
                </h1>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}