{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/home.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block content %}
<header class="showcase">
    <div class="content">
        <img src="{% static 'home/images/brainlogo1.png' %}" alt="Brainy Haven" class="logo">
        <div class="title">
            Welcome To Brainy Haven!
        </div>
        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, obcaecati.
        </div>
    </div>
</header>
<section class="services">
    <div class="my-container grid-3">
        <div class="center">
            <i class="fa fa-rocket fa-3x"></i>
            <h3>Improve</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, deserunt?</p>
        </div>
        <div class="center">
            <i class="fa fa-flask fa-3x"></i>
            <h3>Science</h3>
            <p>
                Our methods have been studied extensively by researchers from credible research institutions around the
                world. No pseudoscience. No nonsense.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-cube fa-3x"></i>
            <h3>Puzzles</h3>
            <p>
                One way to reduce risk of dementia is to keep the mind active. The puzzles in our collection have been
                shown to help slow memory-loss and other mental problems.
            </p>
        </div>
    </div>
</section>
<section class="counters bg-light">
    <div class="counters-container">
        <div>
            <i class="fa fa-user fa-4x"></i>
            <div class="counter" data-target="50000000">0</div>
            <h3>People Suffering</h3>
        </div>
        <div>
            <i class="fa fa-medkit fa-4x"></i>
            <div class="counter" data-target="10000000">0</div>
            <h3>Cases Each Year</h3>
        </div>
        <div>
            <i class="fa fa-info fa-4x"></i>
            <div class="counter" data-target="400">0</div>
            <h3>Types Of Dementia</h3>
        </div>
    </div>
</section>
<section class="contact">
    <div class="my-container">
        <div class="grid-2">
            <div class="center">
                <i class="fa fa-laptop-code fa-10x"></i>
            </div>
            <div>
                <h3>Our Goal</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio velit repellat sequi
                    tenetur! Numquam nisi rerum vel, earum sequi iusto culpa. Corrupti maiores aliquam
                    magnam ipsum dicta nisi ad assumenda?
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}