{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/home.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block content %}
<header class="showcase">
    <div class="content">
        <img src="{% static 'home/images/brainlogo1.png' %}" alt="Brainy Haven" class="logo">
        <div class="title">
            Welcome To Brainy Haven!
        </div>
        <div class="text">
            A group of high school students relieving dementia through problem solving and critical thinking.
        </div>
    </div>
</header>
<section class="introduction bg-blue">
    <div class="my-container">
        <div class="center mb-5">
            <h1>
                How To Use Brainy Haven
            </h1>
        </div>
        <div class="grid-2">
            <div class="center">
                <a href="{% url 'home:home' %}">
                    <h3>Home</h3>
                    <p>
                        The “Home” page showcases important data surrounding dementia, our values, and beliefs. Here you
                        can
                        find a general overview of Brainy Haven's current operations.
                    </p>
                </a>
            </div>
            <div class="center">
                <a href="{% url 'home:about' %}">
                    <h3>About Us</h3>
                    <p>
                        The “About Us” page is where you can get more information on how we began and our goals for this
                        project. You can also read more on us, the creators of Brainy Haven.
                    </p>
                </a>
            </div>
            <div class="center">
                <a href="{% url 'home:science' %}">
                    <h3>The Science</h3>
                    <p>
                        In the “The Science” page, you can read information about the brain and dementia without too
                        many
                        scientific words and phrases. We strongly believe in credible information and modern science.
                    </p>
                </a>
            </div>
            <div class="center">
                <a href="{% url 'home:program' %}">
                    <h3>Program</h3>
                    <p>
                        The “Program” page is where you can find our collection of puzzles. Once logged in, browse the
                        diverse selections of puzzles we have including sudoku, riddles and analogies!
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="michigan bg-light">
    <div class="my-container">
        <div class="grid-2">
            <div class="img-container">
                <div class="center">
                    <img src="{% static 'home/images/Michigan.png' %}" alt="Michigan Logo">
                </div>
                <div class="middle">
                    <div class="text">
                        <a href="https://alzheimers.med.umich.edu/" target="_blank">Visit Them!</a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h3>University of Michigan</h3>
                <p>
                    We have been evaluated by a team at the University of Michigan Alzheimer’s Disease Center under its
                    Director, Dr. Henry Paulson, MD, PHD.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="services bg-blue">
    <div class="my-container grid-3">
        <div class="center">
            <i class="fa fa-microchip fa-3x"></i>
            <h3>Technology</h3>
            <p>
                Lowering barriers of access through technology is our priority. Our online environment grants anyone
                with internet connection access to our programs and resources.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-flask fa-3x"></i>
            <h3>Science</h3>
            <p>
                Our methods have been studied extensively by researchers from credible research institutions around the
                world. No pseudoscience. No nonsense.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-cube fa-3x"></i>
            <h3>Puzzles</h3>
            <p>
                One way to reduce risk of dementia is to keep the mind active. The puzzles in our collection have been
                shown to help slow memory-loss and other cognitive issues.
            </p>
        </div>
    </div>
</section>
<section class="counters bg-light">
    <div class="counters-container">
        <div>
            <i class="fa fa-user fa-4x"></i>
            <div class="counter" data-target="50000000">0</div>
            <h3>People Living With</h3>
        </div>
        <div>
            <i class="fa fa-medkit fa-4x"></i>
            <div class="counter" data-target="10000000">0</div>
            <h3>New Cases Each Year</h3>
        </div>
        <div>
            <i class="fa fa-info fa-4x"></i>
            <div class="counter" data-target="400">0</div>
            <h3>Types Of Dementia</h3>
        </div>
    </div>
</section>
<section class="contact bg-blue">
    <div class="my-container">
        <div class="grid-2">
            <div class="center">
                <i class="fa fa-laptop-code fa-10x"></i>
            </div>
            <div class="text-center">
                <h3>Our Goal</h3>
                <p>
                    To give every human a chance to improve their memory and regain cognitive ability through
                    mentally stimulating and creative programs.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}