{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/patterns.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'home/js/patterns.js' %}"></script>
{% endblock %}

{% block content %}
<section class="patterns bg-blue">
    <div class="my-container">
        <div class="grid-2">
            <div class="question">
                <h1>
                    1, 4, 9, 16, 25...
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    36
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h1>
                    1, 2, 4, 8, 16...
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    32
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h1>
                    1, 1, 2, 3, 5, 8, 13, 21...
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    34
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h1>
                    100, 93, 86, 79, 72…
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    65
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h1>
                    J, F, M, A, M, J, J…
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    A
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h1>
                    S, M, T, W, T, F…
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    S
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h1>
                    y, y, h, l, y, e, y, t, r, r, r...
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    r
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h1>
                    1, 3, 5, 7, 9, 11...
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    13
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h1>
                    z, y, x, w, v, u ,t , s, r...
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    q
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h1>
                    o , t, t, f, f, s, s, e, n...
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    t
                </h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}