{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/patterns.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'home/js/patterns.js' %}"></script>
{% endblock %}

{% block content %}
<section class="patterns bg-blue">
    <div class="my-container">
        {% for pattern in patterns %}
        <div class="grid-2">
            <div class="question">
                <h1>
                    {{ pattern.content }}
                </h1>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    {{ pattern.answer }}
                </h1>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}