{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/puzzles.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'home/js/puzzles.js' %}"></script>
{% endblock %}

{% block content %}
<section class="bg-mint">
    <div class="my-container">
        <div class="suduko center">
            <IFRAME SRC="//widget.websudoku.com/?level=1" WIDTH="200" HEIGHT="260" SCROLLING="no"
                FRAMEBORDER="0"></IFRAME>
        </div>
    </div>
    <div class="my-container">
        <div class="suduko center">
            <IFRAME SRC="//widget.websudoku.com/?level=2" WIDTH="200" HEIGHT="260" SCROLLING="no"
                FRAMEBORDER="0"></IFRAME>
        </div>
    </div>
    <div class="my-container">
        <div class="suduko center">
            <IFRAME SRC="//widget.websudoku.com/?level=3" WIDTH="200" HEIGHT="260" SCROLLING="no"
                FRAMEBORDER="0"></IFRAME>
        </div>
    </div>
    <div class="my-container">
        <div class="suduko">
            <script type="text/javascript" src="https://CrosswordHobbyist.com/embedjs?puzzle_id=2478"></script>
        </div>
    </div>
    <div class="my-container">
        <div class="suduko">
            <script type="text/javascript" src="https://CrosswordHobbyist.com/embedjs?puzzle_id=171097"></script>
        </div>
    </div>
    <div class="my-container">
        <div class="suduko">
            <script type="text/javascript" src="https://CrosswordHobbyist.com/embedjs?puzzle_id=53995"></script>
        </div>
    </div>
</section>
{% endblock %}