{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/riddles.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'home/js/riddles.js' %}"></script>
{% endblock %}

{% block content %}
<section class="riddles bg-blue">
    <div class="my-container">
        {% for riddle in riddles %}
        <div class="grid-2">
            <div class="question">
                <h3>
                    {{ riddle.content }}
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    {{ riddle.answer }}
                </h1>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}