{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/riddles.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'home/js/riddles.js' %}"></script>
{% endblock %}

{% block content %}
<section class="riddles bg-mint">
    <div class="my-container">
        <div class="grid-2">
            <div class="question">
                <h3>
                    You may see me in the sea. You may see me in the sky. But if you feel me, you will be low, not high.
                    What am I?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    Blue
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    Lose me once I'll come back stronger. Lose me twice I'll leave forever. What am I?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    A Tooth
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    A man is alone in his house washing dishes. When he looks down, there are more glasses in the sink
                    than there were before. How?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    His glasses fell into the sink
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    What has to be broken before you can use it?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    An egg
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    What is always in front of you but can’t be seen?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    The future
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    The more of this there is, the less you see. What is it?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    Darkness
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    What can you hold in your left hand but not in your right?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    Your right elbow
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    What goes up and down but doesn’t move?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    A staircase
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    What has a head and a tail but no body?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    A coin
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    What has 13 hearts, but no other organs?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    A deck of cards
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    What kind of coat is best put on wet?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    A coat of paint
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    What has four wheels and flies?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    A garbage truck
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    I am an odd number. Take away a letter and I become even. What number am I?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    Seven
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    Which is heavier: a ton of bricks or a ton of feathers?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    Neither – they both weigh a ton
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    Two fathers and two sons are in a car, yet there are only three people in the car. How?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    They are a grandfather, father, and son
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    What is so fragile that saying its name breaks it?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    Silence
                </h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="question">
                <h3>
                    The more you take, the more you leave behind. What are they?
                </h3>
            </div>
            <div class="answer">
                <button data-action='view' class="answer-btn btn btn-primary">View Answer</button>
                <h1 class="pattern-answer">
                    Footsteps
                </h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}