{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home/styles/science.css' %}">
{% endblock %}

{% block content %}
<section class="brain bg-blue">
    <div class="my-container">
        <div class="grid-2">
            <div class="center">
                <i class="fa fa-brain fa-10x"></i>
            </div>
            <div class="center">
                <h3>The Brain</h3>
                <p>
                    The brain is an organ found in every human that controls the central nervous system. It is arguably
                    the most important and most complex part of the body. We wouldn’t be able to pick up a cup of coffee
                    or read the local newspaper in the morning without our brains. The brain is made up of nine parts,
                    each with their own functions and specialties; however, these parts work together all the time to
                    make sure their human runs well. The nine parts are shown below.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="brain-parts bg-light">
    <div class="my-container grid-3">
        <div class="center">
            <i class="fa fa-eye fa-3x"></i>
            <h3>Occipital Lobe</h3>
            <p>
                Responsible for vision and contains the visual cortex.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-flask fa-3x"></i>
            <h3>Temporal Lobe</h3>
            <p>
                Integrates memories with the five senses.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-thermometer fa-3x"></i>
            <h3>Parietal Lobe</h3>
            <p>
                Processes movement, temperature, taste and touch.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-walking fa-3x"></i>
            <h3>Fontal Lobe</h3>
            <p>
                Controls voluntary movement (walking, eating, kicking).
            </p>
        </div>
        <div class="center">
            <i class="fa fa-info fa-3x"></i>
            <h3>Thalamus</h3>
            <p>
                Relays information to other parts of the brain.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-heartbeat fa-3x"></i>
            <h3>Hypothalamus</h3>
            <p>
                Maintains and grows body through hormones.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-plus-square fa-3x"></i>
            <h3>Pituitary Gland</h3>
            <p>
                Controls other glands (thyroid, adrenal) and releases hormones.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-balance-scale fa-3x"></i>
            <h3>Cerebellum</h3>
            <p>
                Coordinates movement including balance, speech and looking around.
            </p>
        </div>
        <div class="center">
            <i class="fa fa-thumbs-up fa-3x"></i>
            <h3>Spinal Cord</h3>
            <p>
                The center of sending signals from the brain to around the body.
            </p>
        </div>
    </div>
</section>
<section class="dementia bg-blue">
    <div class="my-container">
        <div class="grid-2">
            <div class="center">
                <h3>What Is Dementia?</h3>
            </div>
            <div class="center">
                <p>
                    Dementia is not a specific disease. It is a term that describes symptoms of memory loss and thinking
                    ability. The greatest risk factors for dementia are age, genetics and smoking/alcohol use.
                    Unfortunately, there is no cure for this devastating illness yet; however, there are many ways one
                    can reduce their risk for dementia and even improve their memory. Dementia happens when there are
                    drastic, negative changes to the brain cells. This can severely affect the ability for the cells to
                    transmit signals and communicate with each other, causing a change in behavior and a decline in
                    reasoning skills and cognitive ability. Alzheimer’s disease, for example, is a common type of
                    dementia where the patient loses the ability to remember recent events.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="puzzles bg-light">
    <div class="my-container">
        <div class="grid-2">
            <div class="center">
                <h3>How Our Puzzles Help</h3>
            </div>
            <div class="center">
                <p>
                    <a href="https://www.alzdiscovery.org/cognitive-vitality/blog/can-a-puzzle-a-day-keep-dementia-at-bay#:~:text=The%20Bronx%2020%2Dyear%20longitudinal,own%20they%20cannot%20prevent%20dementia."
                        target="_blank"> A longitudinal study</a> that operated over 20 years, the Bronx Aging Study,
                    found that crossword puzzle
                    use led to an average delay of 2.54 years in the development of dementia. While the study solely
                    utilized crossword puzzles, this concludes that any mentally-stimulating activity can reduce the
                    time it takes for symptoms of dementia to emerge. The puzzle collection found on this site is full
                    of challenging, invigorating puzzles and games that will give you a sense of accomplishment upon
                    completion as well as a cognitive improvement.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}