header {
    height: 120vh;
    width: 100%;
}

.my-container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.my-header-container {
    margin: auto 2rem auto 2rem;
    overflow: hidden;
    padding: 4rem 1rem;
    border: 5px solid darkblue;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #888888;
    background-color: rgb(62, 187, 236);
}

.content {
    position: relative;
    top: 10%;
}

.content .title {
    font-weight: 600;
}


.content .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
}

.content .grid-3 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper{
    margin: 10%;
}
  
.wrapper h1{
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 100px;
    text-align: center;
}

.team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

.team .team_member{
    background: #fff;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
}

.team .team_member h3{
    color: lightblue;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
}

.team .team_member .team_img{
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: black;
}

.team .team_member .team_img img{
    width: 130px;
    height: 130px;
    padding: 5px;
}

section.icons .grid-3 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

section.contact .grid-2 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

h3 {
    font-weight: 600;
}

@media(max-width: 560px) {
    header {
        height: 190vh;
    }

    .content {
        top: 5%;
    }

    .content .grid-2 {
        grid-template-columns: 1fr;  
    }

    section.icons .grid-3 {
        grid-template-columns: 1fr;
    }

    section.contact .grid-2 {
        grid-template-columns: 1fr;
    }

    .content .grid-2 div {
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 1rem;
    }

    .content .grid-2 div:last-child {
        border: none;
    }

    .icons div {
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 1rem;
    }

    .grid-2 div {
        padding: 1.2rem 1rem;
    }

    .team .team_member {
        margin-right: 0px;
    }
}

@media(max-width: 400px) and (max-height:800px) {
    header {
        height: 230vh;
    }
}

@media(max-height: 500px) {
    header {
        height: 190vh;
    }
}

@media(max-width: 800px) and (max-height: 400px) {
    header {
        height: 230vh;
    }
}