section.login {
  height: 100vh;
  width: 100%;
}

.content-section {
  position: relative;
  top: 15%;
  margin: auto;
  width: 300px;
  height: 350px;
  text-align: center;
}

legend {
  font-weight: 600;
}

.btn {
  color: white;
}


div.border-top {
  color: white;
}